.container {
  display: grid; /* for grid display; might want to just do flexboxes idk */
  grid-template-columns: [first] 50% [midpoint] 50% [last];
  grid-template-rows: [header-start] 20% [header-end row2-start] 30% [row2-end row3-start] 50% [last-line];
}

#avi {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}